# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
.venv/

# Secrets (CRUCIAL)
*.pem
*.key
*.env*
credentials.json
secrets.*

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db
